.nav-link {
    position: relative;
    padding-bottom: 4px;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2563eb; /* Blue-600 */
    transition: width 0.3s ease;
  }
  .nav-link:hover::after {
    width: 100%;
  }

.night-mode{
    background-color: #1e293b; /* Slate-800 */
    color: #f1f5f9; /* Slate-100 */
}
  